
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div>
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
      <div *ngIf="profileForm.touched" class="alert alert-danger">
            <div *ngIf="firstName.errors.required">
              Name is required.
            </div>
            
       
      </div>
</div>
<div>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
</div>
<div>
  <label>
    Email:
    <input type="text" formControlName="email">
  </label>
</div>

<div *ngIf="profileForm.touched" class="alert alert-danger">
    <div *ngIf="email.errors.required">
      email is required.
    </div>
    

</div>


<div formGroupName="address">
  <h3>Address</h3>

  <label>
    Street:
    <input type="text" formControlName="street">
  </label>

  <label>
    City:
    <input type="text" formControlName="city">
  </label>
  
  <label>
    State:
    <input type="text" formControlName="state">
  </label>

  <label>
    Zip Code:
    <input type="text" formControlName="zip">
  </label>
</div>


<button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<p>
  Form Status: {{ profileForm.status }}
</p>  

